*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 350px;
    width: 100vw;
    background-image: url('first_back.jpeg');
    background-size: 100vw 100%;
    display: flex;
    flex-direction: column;
}
.container2{
    height: 350px;
    width: 100vw;
    background-image: url('second.jpeg');
    background-size: 100vw 100%;
    display: flex;
    flex-direction: column;
}
.container3{
    height: 350px;
    width: 100vw;
    background-color: rgb(237, 67, 67);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container4{
    height: 350px;
    width: 100vw;
    background-image: url('second.jpeg');
    background-size: 100vw 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container5{
    height: 350px;
    width: 100vw;
    background-color: rgb(237, 67, 67);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.container6{
    height: 350px;
    width: 100vw;
    background-image: url('second.jpeg');
    background-size: 100vw 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(237, 67, 67);
}
.container7{
    height: 350px;
    width: 100vw;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('back.jpeg');
    background-size: 100vw 100%;
    color: white;
}
.container7 p{
    width: 500px;
}
.container8 p{
    width: 500px;
}
.container8{
    height: 350px;
    width: 100vw;
    background-image: url('second.jpeg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: red;
}
.container9{
    height: 450px;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.container9 .conten{
    display: flex;
    flex-direction: row;
    /* background-color: aqua; */
    height: 300px;
    width: 900px;
    justify-content: space-around;
    align-items: center;
}
.container9 .conten .c1{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    /* background-color: blueviolet; */
    /* justify-content: center; */
    /* align-items: center; */
}
.container9 .conten .c2{
    /* background-color: blueviolet; */
    width: 120px;
    height: 300px;

}
.container9 .conten .c2 p{
    margin-top: 20px;
}
.container9 .conten .c1 p{
    margin-top: 20px;
}
.container9 .conten .c1 .logo{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: row;
    background-color: black;
    height: 50px;
    width: 300px;
    margin-top: 5px;
}
.container9 .conten .c1 .logo img{
    height:30px;
    width:30px;
    margin-left: 20px;
    border-radius: 50%;
}
.container9 .conten .c1 .logo img:hover{
    cursor: pointer;
}
.con{
    height: 300px;
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.con img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.conte{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 20px;
    color: white;
}
.container4 .con .conte{
 color: rgb(237, 67, 67);
    
}
.conte button{
    margin-top: 10px;
    background-color: white;
    border-radius: 5px;
    width: 150px;
}
.conte button:hover{
    cursor: pointer;
}
.navbox{
    width: 450px;
    align-self: flex-end;
    margin-top: 20px;
}
.navbox ul{
    color: white;
    display: flex;
    flex-direction: row;
    list-style: none;
}
.navbox ul li{
    margin-left: 25px;
}
.navbox ul li:hover{
    background-color:green;
    color:white;
    border: 2px solid white;
    cursor: pointer;
}
.content1{
    color: white;
    width: 600px;
    margin-top: 60px;
    margin-left: 25px;
}
.content2{
    width: 600px;
    color: white;
    margin-left: 25px;
    margin-top: 40px;
}
.container button{
    width: 100px;
    margin-top: 30px;
    margin-left: 25px;
    /* background-color: orange; */
    background-color:rgb(237, 67, 67);
    border-radius: 5px;
}
.container4 button{
    /* background-color: orange; */
    background-color:rgb(237, 67, 67);
}
.container button:hover{
    cursor: pointer;
}
.container2 h1{
    align-self: center;
    margin-top: 60px;
    /* color: orange; */
    color: rgb(237, 67, 67);

}
.container2 p{
    align-self: center;
    /* color: orange; */
    color: rgb(237, 67, 67);

}
.image{
    width: 400px;
    height: 100px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-self: center;
}
.container2 img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left: 20px;
}
.text{
    width: 400px;
    height: 20px;
    margin-top: 2px;
    display: flex;
    flex-direction: row;
    align-self: center;
}
.text h2{
    margin-left: 35px;
    /* color: orange; */
    color: rgb(237, 67, 67);

}
.con5{
    height: 200px;
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.com{
    border: 2px solid white;
    height: 150px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 30px;
}
.con6{
    width: 800px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.com1{
    height: 250px;
    width: 200px;
    background-color: white;
    border: 2px solid white;
    margin-left: 27px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container6 img{
    height: 100px;
    width: 100px;
}
.container6 button{
    background-color: rgb(237, 67, 67);
    border-radius: 5px;
    width: 100px;
}
.container6 button:hover{
    cursor: pointer;
}
.container8 .search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container8 .search button{
    border-radius: 10px;
    background-color:rgb(237, 67, 67) ;
    width: 100px;
    margin-left: 5px;
    color: white;
}
.container8 .search button:hover{
    cursor: pointer;
}
.container8 .search input:hover{
    cursor: pointer;
}
.container8 .search input{
    border-radius: 10px;
}
@media screen and (max-width:1200px) {
    .container button:hover{
    cursor: pointer;
}
.image{
    margin-left: 50px;
    height: 80px;
}
.text{
    margin-left: 50px;
    font-size: 10px;
    margin-top: 2px;
}
.container2 img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-left: 20px;
}
    .container{
        height: 350px;
    }
    .container button:hover{
    cursor: pointer;
}
    .navbox{
    align-self: center;
    }
.content1{
    width: 300px;
    margin-top: 30px;


}
.content2{
    margin-top: 20px;
    width: 350px;
}
.container2{
    height: 350px;
}
}
@media screen and (max-width:750px) {
    .container9{
        height: 1200px;
    }
    .container9 .conten{
        height: 1020px;
        flex-direction: column;
    }
    .container9 .conten .c1,.c2{
        margin-top: 20px;
    }
}
@media screen and (max-width:650px) {
    .con img{
        width: 180px;
        height: 180px;
        border-radius: 50%;
    }
    .conte p{
        width: 200px;
    }
    .conte{
        margin-left: 10px;
        align-items: flex-start;
        width: 200px;
    }
    .con5{
        height: 500px;
        width: 300px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container5{
        height: 750px;
    }
    .com{
        margin-top: 20px;
    }
    .container6{
        height: 850px;
    }
    .con6{
        height: 800px;
        width: 300px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .com1{
        margin-top: 20px;
    }
    .container7 p{
        width: 300px;
    }
    .container8 p{
        width: 300px;
    }

}
@media screen and (max-width:432px) {
    .container button:hover{
    cursor: pointer;
}
    .container button:hover{
    cursor: pointer;
}
    .navbox ul li{
        font-size: 10px;
    }
    .navbox{
        margin-left: 30vw;
    }
}
@media screen and (max-width:400px) {
    .con{
        width: 600px;
    }
    .con img{
        width: 110px;
        height: 110px;
        border-radius: 50%;
    }
    .con p{
        width: 170px;
        font-size:10px;
    }
    .content2{
        margin-top: 20px;
        width: 300px;
    }
}